
*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.app{
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    gap: 0 40px;
}
